*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 0;
}
nav ul{
    list-style:none;
}
.logo{
    width: 60px;
}
header{
    background-color: rgb(107, 173, 230);
}
.hero{
    height: 800px;
}
.hero h1{
    font-size: 40px;
}